        function [returnData, resp] = addNodesToCollection(obj, collectionId, level, nodeIds, varargin)
            nodes = cellfun(@(id) containers.Map({'_id', 'level'}, { id, level }), nodeIds, 'UniformOutput', false);
            contents = containers.Map({'operation', 'nodes'}, {'add', nodes});
            update = struct('contents', contents);
            [returnData, resp] = obj.collectionsApi.modifyCollection(collectionId, update, varargin{:});
        end

        function [returnData, resp] = addSessionsToCollection(obj, collectionId, sessionIds, varargin)
            [returnData, resp] = obj.addNodesToCollection(collectionId, 'session', sessionIds, varargin{:});
        end

        function [returnData, resp] = addAcquisitionsToCollection(obj, collectionId, acquisitionIds, varargin)
            [returnData, resp] = obj.addNodesToCollection(collectionId, 'acquisition', acquisitionIds, varargin{:});
        end

        function [returnData, resp] = changeJobState(obj, jobId, state, varargin)
            [returnData, resp] = obj.modifyJob(jobId, struct('state', state), varargin{:});
        end

        function [returnData, resp] = resolve(obj, path, varargin)
            [returnData, resp] = obj.resolvePath(flywheel.model.ResolverInput('path', split(path, '/')), varargin{:});
        end

    {{#apiInfo}}
    {{#apis}}
    {{#operations}}
    {{#operation}}
    {{#vendorExtensions.x-sdk-modify-wrapper}}
        function [returnData, resp] = {{wrapperId}}(obj, {{#allParams}}{{#required}}{{paramName}}, {{/required}}{{/allParams}}varargin)
            body = struct( '{{key}}', body );
            [returnData, resp] = obj.{{classVarName}}.{{operationId}}({{#allParams}}{{#required}}{{paramName}}, {{/required}}{{/allParams}}varargin{:});
        end

    {{/vendorExtensions.x-sdk-modify-wrapper}}
    {{#vendorExtensions.x-sdk-download-file-param}}
        function [returnData, resp] = {{operationId}}AsData(obj, {{#allParams}}{{#required}}{{paramName}}, {{/required}}{{/allParams}}varargin)
            [returnData, resp] = obj.{{classVarName}}.{{operationId}}({{#allParams}}{{#required}}{{paramName}}, {{/required}}{{/allParams}}[], varargin{:});
        end

    {{/vendorExtensions.x-sdk-download-file-param}}
    {{/operation}}
    {{/operations}}
    {{/apis}}
    {{/apiInfo}}
