classdef Flywheel
    properties
        apiClient
        {{#apiInfo}}
        {{#apis}}
        {{classVarName}}
        {{/apis}}
        {{/apiInfo}}
    end
    methods
        function obj = Flywheel(apiKey)
            obj.apiClient = {{packageName}}.ApiClient(apiKey);
            {{#apiInfo}}
            {{#apis}}
            obj.{{classVarName}} = {{apiPackage}}.{{classname}}(obj.apiClient);
            {{/apis}}
            {{/apiInfo}}
        end
        {{#apiInfo}}
        {{#apis}}
        {{#operations}}
        {{#operation}}
        {{^vendorExtensions.x-sdk-download-url}}
        function [returnData, resp] = {{operationId}}(obj, varargin)
            [returnData, resp] = obj.{{classVarName}}.{{operationId}}(varargin{:});
        end
        {{/vendorExtensions.x-sdk-download-url}}
        {{! x-sdk-download-url is a special case where we need to construct and return a full url }}
        {{#vendorExtensions.x-sdk-download-url}}
        function [returnData, resp] = {{.}}(obj, varargin)
            [returnData, resp] = obj.{{classVarName}}.{{operationId}}(varargin{:}, 'ticket', true);
            if ~isempty(returnData)
                reqUrl = resp.getRequestUrl().toCharArray';
                {{! Url will look like: ".../files/filename.txt?ticket" so just append the equals. }}
                returnData = strcat(reqUrl, '=', returnData.ticket);
            end
        end
        {{/vendorExtensions.x-sdk-download-url}}
        {{/operation}}
        {{/operations}}
        {{/apis}}
        {{/apiInfo}}
    end
end
