classdef AcquisitionMixin < {{packageName}}.mixins.ContainerBase ...
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.InfoMethods ...
        & {{packageName}}.mixins.NoteMethods ...
        & {{packageName}}.mixins.FileMethods ...
        & {{packageName}}.mixins.TimestampMethods ...
        & {{packageName}}.mixins.DownloadMethods
    properties
        containerType_ = 'Acquisition';
        analyses_ = false;
    end
    methods
        function analyses = get_analyses(obj)
            analyses = obj.getChildren('Analyses');
        end
    end
end