classdef AnalysisMixin < {{packageName}}.mixins.ContainerBase
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.InfoMethods ...
        & {{packageName}}.mixins.NoteMethods ...
        & {{packageName}}.mixins.FileMethods ...
        & {{packageName}}.mixins.DownloadMethods
    properties
        containerType_ = 'Analysis';
    end
end