classdef GroupMixin < {{packageName}}.mixins.ContainerBase ...
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.PermissionMethods
    properties
        containerType_ = 'Group';
        projects_ = false;
    end
    properties(Dependent)
        projects
    end
    methods
        function projects = get.projects(obj)
            projects = obj.getChildren('Projects');
        end
    end
end