classdef GroupMixin < {{packageName}}.mixins.ContainerBase ...
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.PermissionMethods
    properties
        containerType = 'Project';
        projects_ = false;
    end
    properties(Dependent)
        projects
    end
    methods
        function sessions = get.projects(obj)
            sessions = obj.getChildren('Projects');
        end
    end
end