classdef ProjectMixin < {{packageName}}.mixins.ContainerBase ...
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.InfoMethods ...
        & {{packageName}}.mixins.NoteMethods ...
        & {{packageName}}.mixins.FileMethods ...
        & {{packageName}}.mixins.PermissionMethods ...
        & {{packageName}}.mixins.DownloadMethods
    properties
        containerType_ = 'Project';
        subjects_ = false;
        sessions_ = false;
        analyses_ = false;
    end
    properties(Dependent)
        subjects
        sessions
    end
    methods
        function subjects = get.subjects(obj)
            subjects = obj.getChildren('Subjects');
        end
        function sessions = get.sessions(obj)
            sessions = obj.getChildren('Sessions');
        end
        function analyses = get_analyses(obj)
            analyses = obj.getChildren('Analyses');
        end
        function [returnData, resp] = addSubject(obj, varargin)
            [returnData, resp] = obj.addChild('Subject', varargin{:});
        end
        function [returnData, resp] = addSession(obj, varargin)
            [returnData, resp] = obj.addChild('Session', varargin{:});
        end
    end
end