classdef SessionMixin < {{packageName}}.mixins.ContainerBase ...
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.InfoMethods ...
        & {{packageName}}.mixins.NoteMethods ...
        & {{packageName}}.mixins.FileMethods ...
        & {{packageName}}.mixins.TimestampMethods
    properties
        containerType_ = 'Session';
        acquisitions_ = false;
        analyses_ = false;
    end
    properties(Dependent)
        acquisitions
    end
    methods
        function acquisitions = get.acquisitions(obj)
            acquisitions = obj.getChildren('Acquisitions');
        end
        function analyses = get_analyses(obj)
            analyses = obj.getChildren('Analyses');
        end
        function [returnData, resp] = addAcquisition(obj, varargin)
            [returnData, resp] = obj.addChild('Acquisition', varargin{:});
        end
    end
end