classdef SubjectMixin < {{packageName}}.mixins.ContainerBase ...
        & {{packageName}}.mixins.TagMethods ...
        & {{packageName}}.mixins.InfoMethods ...
        & {{packageName}}.mixins.NoteMethods ...
        & {{packageName}}.mixins.FileMethods
    properties
        containerType_ = 'Subject';
        sessions_ = false;
        analyses_ = false;
    end
    properties(Dependent)
        sessions
    end
    methods
        function sessions = get.sessions(obj)
            sessions = obj.getChildren('Sessions');
        end
        function analyses = get_analyses(obj)
            analyses = obj.getChildren('Analyses');
        end
        function [returnData, resp] = addSession(obj, varargin)
            body = {{packageName}}.mixins.ContainerBase.structFromArgs(varargin);
            body.project = obj.project;
            if ~isfield(body, 'subject')
                body.subject = struct();
            end
            body.subject.id = obj.id;
            [returnData, resp] = addSession(obj.context_, body);
        end
    end
end