# coding: utf-8

{{>partial_header}}

from setuptools import setup, find_packages  # noqa: H301

NAME = "flywheel-sdk"
VERSION = "{{packageVersion}}"
{{#apiInfo}}
{{#apis}}
{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = ["urllib3 >= 1.15", "six >= 1.10", "certifi", "python-dateutil"]
{{#asyncio}}
REQUIRES.append("aiohttp")
{{/asyncio}}
{{#tornado}}
REQUIRES.append("tornado")
{{/tornado}}
{{#requests}}
REQUIRES.append("requests >= 2.18.4")
REQUIRES.append("requests-toolbelt")
{{/requests}}

setup(
    name=NAME,
    version=VERSION,
    description="Flywheel SDK",
    author_email="support@flywheel.io",
    url="{{packageUrl}}",
    keywords=["Swagger", "{{appName}}", "flywheel"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    license="MIT",
    project_urls={
        'Documentation': 'https://flywheel-io.github.io/core/branches/master/python',
        'Source': 'https://github.com/flywheel-io/core'
    },
    long_description="""\
    Flywheel SDK
    ============

    An SDK for interaction with a remote Flywheel instance.

    Getting Started
    ===============

    .. code-block:: python

        import flywheel
        from pprint import pprint

        fw = flywheel.Client('api-key')

        user = fw.get_current_user()
        pprint(user)

        fw.upload_file_to_project('project-id', '/path/to/file.txt')

    """
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
