{{swagger.info.title}} Documentation
========================================

.. toctree::
    :maxdepth: 3
    :caption: Contents:

    topics/getting_started
    topics/data_model
    {{packageName}}

Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
