{{swagger.info.title}} Documentation
========================================

.. toctree::
    :maxdepth: 3
    :caption: Contents:

    getting_started
    data_model
    examples
    {{packageName}}

Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
